.channel-strips{

    position: absolute;
    top: 57px;
    clear: both;

  .channel-strip {
      background-color: #000;
      display: block;
      margin: 10px;
      padding: 10px;
      float: left;
      width: 100px;
      text-align: center;
      border-radius: 10px;
      border: 1px solid #888;
      color: #fff;
  }


}
