@import './vars.less';

.channel-strips{

    position: absolute;
    // top: 57px;
    top: @header-height;
    // clear: both;
    pointer-events:none;



}

  .channel-strip {
    .box-base;
    // pointer-events:all;
    background-color: #000;
    display: block;
    margin: 0;
    padding: 10px;
    float: left;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #888;
    color: #fff;
  }
