@header-height: 45px;
@dots-left-buffer:150px;
@dots-right-buffer:150px;
@footer-height:45px;

.box-base{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
  border-radius: 0.75em;

}

