<template>


    <toggle-button prop.bind="autoPlayer.on"
        click.delegate="autoClick()">AUTO</toggle-button>

    <div if.bind="autoPlayer.on">
        ${autoPlayer.lengthMeasures | fixFraction} measures
        <exponential-select value.bind="autoPlayer.lengthMeasures"></exponential-select>

        ${autoPlayer.eventsPerMeasure | fixFraction} Events
        <exponential-select value.bind="autoPlayer.eventsPerMeasure"></exponential-select>

        Vary on ${autoPlayer.changeEveryMeasure | fixFraction}
        <exponential-select value.bind="autoPlayer.changeEveryMeasure"></exponential-select>

    </div>


</template>
