<template>



    <div if.bind="autoPlayer.on"
        class="auto-player">

        <div class="auto-prop">
            ${autoPlayer.lengthMeasures | fixFraction} measures
            <exponential-select value.bind="autoPlayer.lengthMeasures"></exponential-select>
        </div>

        <div class="auto-prop">
            ${autoPlayer.eventsPerMeasure | fixFraction} Events
            <exponential-select value.bind="autoPlayer.eventsPerMeasure"></exponential-select>
        </div>

        <div class="auto-prop">
            Vary on ${autoPlayer.changeEveryMeasure | fixFraction}
            <exponential-select value.bind="autoPlayer.changeEveryMeasure"></exponential-select>

        </div>
    </div>


</template>
