<template>

    <div class="channel-strip">
        <div>
            ${channel.name}
        </div>

        <autoplayer auto-player.bind="channel.autoPlayerData"
            on-auto-toggle.delegate="toggleAuto(c)"></autoplayer>

        <!--<toggle-button prop.bind="isCurrent"
            click.delegate="selectClick()">Edit</toggle-button>-->

        <button class="k-toggle-btn"
            click.delegate="random()">
            Random
        </button>

    </div>

    <player-canvas channel.bind="channel">

    </player-canvas>


</template>
